<div class="container bg-info-subtle border border-secondary border-top-0 collapse p-2"
     id="{{ idCollapse }}">
    <div>
        <div class="list-group">
            {{ text }}
        </div>
    </div>
</div>
