<div class="container bg-body border border-secondary rounded-top">
    <div class="row row-cols-2">
        <div class="align-middle lh-lg head col-sm-2 border-end fw-bold text-center bg-body-secondary rounded-2 rounded-bottom-0 rounded-end-0">
            {{ title }}
        </div>
        <div class="text col-sm-10">
            <div class="d-flex justify-content-between h">
                <div class="align-middle lh-lg">
                    {{ text }}
                </div>
            </div>
        </div>
    </div>
</div>
