{% if orderDir is not defined %}
    {% set orderDir = 'ASC' %}
    {% if pagerService is defined %}
        {% set orderDir = pagerService.getOrderBy.getSort() %}
    {% else %}
        {% set orderDir = 'DESC' %}
    {% endif %}
{% endif %}

{% if routeOptions is not defined %}
    {% set routeOptions = {} %}
{% endif %}


{% if pagerService is defined %}
    {% set path = pagerService.getSearchOrderPathLinkForField(field) %}
{% elseif order is defined %}
    {% set routeOptions = routeOptions|merge({'order_by': order}) %}
    {% if pagerService is defined %}
        {% set routeOptions = routeOptions|merge({"search":pagerService.getSearchValue}) %}
    {% endif %}
{% endif %}


{% if path is not defined and route is defined %}
    {% set path = path( route, routeOptions ) %}
{% elseif path is not defined %}
    {% set path = '#' %}
{% endif %}

<a href="{{ path }}">
    {{ name }}
    {% if pagerService is defined and pagerService.isInOrder(field) %}
        <i class="fa-solid fa-caret-{{ pagerService.isAsc(field) ? 'up' : 'down' }}"></i>
    {% endif %}
</a>
