{% extends "base.html.twig" %}

{% block title %}Lieux{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('lieu.index') }}">Liste des lieux</a></li>
		<li class="active">Ajout d'un lieu</li>
	</ol>
	
	<div class="well well-sm">
		<div class="header">
			<h5>Ajout d'un lieu</h5>
		</div>

		{{ form(form) }}
	</div>
	
{% endblock %}