{% extends "base.html.twig" %}

{% block title %}Monnaie{% endblock title %}

{% block body %}

{% include '_partials/breadcrumb.twig' with {'items' : {
	1 : {'route' : path('monnaie.list'), 'name' : 'Liste des monnaies'},
	2 : {'name' : 'Suppression d\'une monnaie'}
}} 
%}
	
	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('monnaie.delete', {'monnaie': monnaie.id}) }}) }}
			<fieldset>
				<legend>Suppression d'une monnaie</legend>
				{{ monnaie.label }}
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock %}