{% extends "base.html.twig" %}

{% block title %}Monnaie{% endblock title %}

{% block body %}

{% include '_partials/breadcrumb.twig' with {'items' :
	[
	 {'route' : path('monnaie.list'), 'name' : 'Liste des monnaies'},
	 {'name' : monnaie.label}
]
}
%}
	
	<div class="well well-sm">
		<h4>{{ monnaie.label }}</h4>
		<div class="list-group">
			<div class="list-group-item">
				Description : {{ monnaie.description|markdown_to_html }}
			</div>
		</div>
	</div>
	
	
{% endblock %}
