{% extends "base.html.twig" %}

{% block title %}Modification d'un propriétaire{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Modification d'un propriétaire</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Modification d'un propriétaire</h5>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    {{ include("stock/proprietaire/form.twig",{'action': path('stockProprietaire.update', {proprietaire:proprietaire.id} ), 'form' : form}) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
