{% extends "base.html.twig" %}

{% block title %}Droits{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des droits</li>
	</ol>
	
	<div class="well well-sm">

		<div class="header">
			<h5>Liste des droits</h5>
		</div>

		<div class="list-group">
			{% for right, label in rights %}
				<div class="list-group-item">
					<div class="list-group-item-heading"><h6>{{ right }}</h6></div>
					<div class="list-group-item-text">
						 {{ label }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}
