{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

    {% set isAdmin = is_granted('ROLE_ORGA', app.user) or is_granted('ROLE_SCENARISTE', app.user) %}

    {% set breadcrumb = [] %}
    {% if isAdmin %}
        {% set breadcrumb = breadcrumb|merge([{'name' : 'Liste des groupes', 'route': path('groupe.list') }]) %}
    {% endif %}
    {% set breadcrumb = breadcrumb|merge( [{'name': groupe.label, 'route': path('groupe.detail', {'groupe': groupe.id})},{'name' : 'Détail d\'un groupe' }]) %}

    {% include '_partials/breadcrumb.twig' with {'items' :breadcrumb} %}


    <div class="well well-sm">
        {{ form(form) }}
    </div>
{% endblock %}
