{% extends "base.html.twig" %}

{% block title %}Rejoindre un groupe{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des grandeurs nature', 'route': path('gn.list') },
            {'name' : participant.gn.label, 'route': path('participant.index', {'participant': participant.id}) },
            {'name' : 'Rejoindre un groupe' }
        ]
    } %}

	<div class="well well-sm">

		<div class="header">
			<h5>Rejoindre un groupe</h5>
		</div>

        {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Attention, cet age n'a pas de description."} %}

        {{ form(form) }}
	</div>

{% endblock body %}
