<script type="text/javascript">

    function addGroupeHasRessourceForm(collectionHolder, $newRessourceLinkLi) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        const prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        const newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
        const $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
        $newRessourceLinkLi.before($newFormLi);

        // ajoute un lien de suppression au nouveau formulaire
        addGroupeHasRessourceFormDeleteLink($newFormLi);
    }

    function addGroupeHasRessourceFormDeleteLink($groupeHasRessourceFormLi) {
        const $removeFormA = $('<span class="input-group-btn"><a class="btn btn-secondary" href="#"><i class="fa fa-trash"></i> Supprimer</a></span>');
        $('select', $groupeHasRessourceFormLi).wrap('<div class="input-group"></div>');
        $('select', $groupeHasRessourceFormLi).after($removeFormA);

        $removeFormA.on('click', function (e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // supprime l'élément li pour le formulaire de tag
            $groupeHasRessourceFormLi.remove();
        });
    }


    jQuery(document).ready(function () {
        const collectionRessourceHolder = $('ul.groupeHasRessources');
        const $addGroupeHasRessourceLink = $('<a href="#" class="add_groupeHasRessource_link">Ajouter une ressource</a>');
        const $newRessourceLinkLi = $('<li class="list-group-item"></li>').append($addGroupeHasRessourceLink);

        collectionRessourceHolder.find('li').each(function () {
            addGroupeHasRessourceFormDeleteLink($(this));
        });

        collectionRessourceHolder.append($newRessourceLinkLi);

        $addGroupeHasRessourceLink.on('click', function (e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            addGroupeHasRessourceForm(collectionRessourceHolder, $newRessourceLinkLi);
        });

        $("#groupeRessource_groupeHasRessources").parent().remove();
    });
</script>
