{% extends "base.html.twig" %}

{% block title %}Genres{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Gestion des genres</li>
	</ol>

	<div class="well well-sm">
		<div class="header">
			<h5>Gestion des genres <small>({{ genres|length }} genres)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ajouter un genre" href="{{ path('genre.add') }}"><i class="fa fa-plus"></i>Ajouter</a>
			</div>
		</div>
	</div>

	{{ include("genre/fragment/list.twig", {'genres' : genres, 'add' : true}) }}
	
{% endblock %}
