<ul class="list-group">
	{%  for localisation in localisations %}
		<a href="{{ path('stockLocalisation.update', {localisation: localisation.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<h5 class="fw-bold">{{ localisation.label }}</h5>
				<p class="mb-1">{{ localisation.precision }}</p>
			</div>
			<span class="badge text-bg-info">{{ localisation.objets|length }}</span>
		</a>
	{%  endfor %}
</ul>
