<a class="badge text-bg-secondary rounded-pill link-underline link-underline-opacity-0"
   data-bs-toggle="tooltip" data-bs-title="{{ competenceFamily.description|striptags }}"
   data-bs-placement="bottom"
   href="{{ path('competenceFamily.detail', {'competenceFamily': competenceFamily.id }) }}"
>{{ competenceFamily.label }}</a>
