<!-- deprecated -->
<div class="header">
	<h5>Liste des classes</h5>
</div>

<blockquote>
	Votre classe vous permet de dépenser moins de points d'expériences dans certaines compétences. Les compétences qui ne sont pas liés à votre classe sont accessibles mais vous n'obtiendrez pas de bonus dessus. 
</blockquote>

{% include 'classe/fragment/competenceFamilies.twig' with {'classes': classes} %}
