parameters:
	ignoreErrors:
		-
			message: "#^Using nullsafe method call on non\\-nullable type App\\\\Entity\\\\User\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Controller/IndexController.php

		-
			message: "#^Parameter \\#1 \\$element of method Doctrine\\\\Common\\\\Collections\\\\Collection\\<int,App\\\\Entity\\\\GroupeBonus\\>\\:\\:removeElement\\(\\) expects App\\\\Entity\\\\GroupeBonus, App\\\\Entity\\\\PersonnageBonus given\\.$#"
			count: 1
			path: src/Entity/BaseBonus.php

		-
			message: "#^Method App\\\\Entity\\\\Connaissance\\:\\:getPrintLabel\\(\\) should return string\\|null but returns Symfony\\\\Component\\\\String\\\\AbstractUnicodeString\\.$#"
			count: 1
			path: src/Entity/Connaissance.php

		-
			message: "#^Method App\\\\Entity\\\\Loi\\:\\:getPrintLabel\\(\\) should return string\\|null but returns Symfony\\\\Component\\\\String\\\\AbstractUnicodeString\\.$#"
			count: 1
			path: src/Entity/Loi.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Entity/Objet.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type App\\\\Entity\\\\User\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Entity/Objet.php

		-
			message: "#^Method App\\\\Entity\\\\Personnage\\:\\:getPrintLabel\\(\\) should return string\\|null but returns Symfony\\\\Component\\\\String\\\\AbstractUnicodeString\\.$#"
			count: 1
			path: src/Entity/Personnage.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type App\\\\Entity\\\\Gn\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/Entity/Personnage.php

		-
			message: "#^Method App\\\\Entity\\\\PersonnageBackground\\:\\:getLabel\\(\\) should return string but returns App\\\\Entity\\\\Gn\\|null\\.$#"
			count: 1
			path: src/Entity/PersonnageBackground.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\ORM\\\\EntityManagerInterface\\:\\:getRepository\\(\\)$#"
			count: 1
			path: src/Service/DataFormatterService.php

		-
			message: "#^Method App\\\\Service\\\\FileUploader\\:\\:getOriginalFilename\\(\\) should return string but returns Symfony\\\\Component\\\\String\\\\AbstractUnicodeString\\.$#"
			count: 1
			path: src/Service/FileUploader.php

		-
			message: "#^Property App\\\\Service\\\\FileUploader\\:\\:\\$fileName \\(string\\) does not accept Symfony\\\\Component\\\\String\\\\AbstractUnicodeString\\.$#"
			count: 1
			path: src/Service/FileUploader.php

		-
			message: "#^Property App\\\\Service\\\\PagerService\\:\\:\\$entityManager is never read, only written\\.$#"
			count: 1
			path: src/Service/PagerService.php

		-
			message: "#^Parameter \\#1 \\$type of method App\\\\Entity\\\\Personnage\\:\\:hasCompetence\\(\\) expects App\\\\Enum\\\\CompetenceFamilyType\\|string, App\\\\Entity\\\\Competence given\\.$#"
			count: 1
			path: src/Service/PersonnageService.php

		-
			message: "#^Method App\\\\Twig\\\\HighlightTwigExtension\\:\\:highlightFilter\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/HighlightTwigExtension.php

		-
			message: "#^Method App\\\\Twig\\\\HighlightTwigExtension\\:\\:highlightFilter\\(\\) has parameter \\$words with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/HighlightTwigExtension.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) with 1 and array\\<string, string\\> will always evaluate to false\\.$#"
			count: 1
			path: tests/Integration/Service/CompetenceServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\GroupeServiceTest\\:\\:\\$entityManager is never read, only written\\.$#"
			count: 1
			path: tests/Integration/Service/GroupeServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\PersonnageServiceTest\\:\\:\\$entityManager is never read, only written\\.$#"
			count: 1
			path: tests/Integration/Service/PersonnageServiceTest.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\Personnage\\:\\:method\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Service/ConditionsServiceTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationStubber\\:\\:with\\(\\)\\.$#"
			count: 8
			path: tests/Unit/Service/ConditionsServiceTest.php












