{% extends "base.html.twig" %}

{% block title %}Age{% endblock title %}

{% block body %}

    {% set title = 'Ajout d\'un age' %}
    {% if level.id is defined %}
        {% set title = 'Mise à jour d\'un age' %}
    {% endif %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des ages', 'route': path('age.list') },
            {'name' : title },
        ]
    } %}

    <div class="well well-sm bs-component">

        <div class="header">
            <h5>{{ title }}</h5>
        </div>

        {{ form(form) }}
    </div>
{% endblock %}
