{% extends "base.html.twig" %}

{% block title %}Connaissance{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('connaissance.list') }}">Liste des connaissance</a></li>
		<li class="active">Ajouter une connaissance</li>
	</ol>
	
	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Ajout d'une connaissance</h5>

			{{ form(form) }}
		</div>
	</div>
				
{% endblock body %}
