{% extends "base.html.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig'
        with {
        'items' : {
            1 : {'route': path('connaissance.list'), 'name' : 'Liste des connaissances'},
            2 : {'name' : connaissance.label },
            3 : {'Détail d\'une connaissance'}
        }
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Détail d'une connaissance</h5>
        </div>

        {% if connaissance.secret %}
            {% include '_partials/cardNotif.twig' with {'type' : 'danger', 'content' : 'Cette connaissance est secrète'} %}
        {% endif %}

        <div class="d-flex justify-content-between">

        <h4>{{ connaissance.label }}</h4>

        {% if not connaissance.documentUrl %}
        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Télécharger le document associé"
            href="{{ path('connaissance.document', {'connaissance': connaissance.id, 'document': connaissance.documentUrl}) }}"><i
                    class="fa-solid fa-download"></i> Télécharger</a>
        {% endif %}
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>{{ connaissance.description|markdown_to_html }}</p>
            </div>
        </div>

        {% if connaissance.contraintes %}
            {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'title': 'Prérequis !', 'content' : connaissance.contraintes } %}
        {% endif %}
    </div>
{% endblock body %}
