{% extends "base.html.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig'
        with {
        'items' : {
            1 : {'route': path('connaissance.list'), 'name' : 'Liste des connaissances'},
            2 : {'route': path('connaissance.detail', {'connaissance': connaissance.id} ), 'name' : connaissance.label },
            3 : {'name' : 'Modifier une connaissance'}
        }
    } %}


    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Modification d'une connaissance</h5>

            {{ form(form) }}
        </div>
    </div>

{% endblock body %}
