<ul class="list-group">
	{%  for genre in genres %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ genre.label }}
			<div class="pull-right btn-group" role="group">
				<a href="{{ path('genre.detail', {genre: genre.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-eye"></i></a>
			    <a href="{{ path('genre.update', {genre: genre.id}) }}" class="btn btn-secondary" role="button"><i class="fa fa-pencil"></i></a>
			</div>
		</h4>
			
		{% if genre.description %}
			<p class="list-group-item-text text-default">{{ genre.description }}</p>
		{% else %}
			<p class="list-group-item-text text-warning">Attention, ce genre n'a pas description</p>
		{%  endif %}
		
	</li>
	{%  endfor %}
</ul>
