{% extends "base.html.twig" %}

{% block title %}Intrigues{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des intrigues', 'route': path('intrigue.list') },
            {'name' : "Détail de l'intrigue #{intrigue.titre}", 'route': path('intrigue.detail', {'intrigue':intrigue.id}) },
            {'name' : "Ajout d'une relecture" }
        ]
    } %}

    <div class="well well-sm">

        <div class="card text-bg mb-3">

            <div class="card-header"><h6>{{ intrigue.titre }}</h6></div>
            <div class="card-body">
                <div class="card-text">{{ intrigue.description|markdown_to_html }}</div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                {% include 'intrigue/baseDetail.twig' %}
            </div>
            <div class="col-md-4">

                <div class="card mb-2">
                    <div class="header">
                        <h5 class="m-0">Ajout d'une relecture</h5>
                    </div>

                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock body %}
