{% extends "base.html.twig" %}

{% block title %}Type de groupe transverse{% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="well well-sm">
                    <h4>
                        Gestion des types de groupe transverses
                        <small>
                            ( {{ groupeSecondaireTypes|length }} types )
                        </small>
                    </h4>
                </div>
                {{ include("groupeSecondaireType/fragment/list.twig", {'groupeSecondaireTypes' : groupeSecondaireTypes, 'add' : true}) }}
            </div>
        </div>

    </div>

{% endblock %}
