<div class="well bs-component">
	{{ form_start(form, {"attr": {"action": action }}) }}
		<fieldset>
			<legend>{{ legend }}</legend>
				
				{{ form(form) }}
		</fieldset>
	{{ form_end(form) }}
</div>