{% extends "base.html.twig" %}

{% block title %}Titres{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig'
        with {
        'items' : [
            {'route': path('titre.list'), 'name' : 'Liste des titres'},
            {'name' : 'Ajouter un titre' }
        ]
    } %}

    <div class="well bs-component">
        {{ form_start(form, {"attr": {"action": path('titre.add') }}) }}
        <fieldset>
            <legend>Ajout d'un titre</legend>

            {{ form(form) }}
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock body %}
