{% extends "base.html.twig" %}

{% block title %}Titres{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' 
		with {
			'items' : {
				1 : {'route': path('titre.list'), 'name' : 'Liste des titres'},
				2 : {'name' : 'Ajouter un titre' }
			}
		} 
	%}	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('titre.admin.add') }}) }}
			<fieldset>
				<legend>Ajout d'un titre</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}