{% extends "base.html.twig" %}

{% block title %}Religion{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des religions</li>
	</ol>

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>Liste des religions</h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une religion" href="{{ path('religion.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Liste mail" href="{{ path('religion.mail') }}"><i class="fa fa-list"></i> Liste</a>
			</div>
		</div>
	</div>

	{% include '_partials/pagination.html.twig' %}

	{{ include("admin/religion/fragment/list.twig", {'religions' : paginator, 'add' : true}) }}

	{% include '_partials/pagination.html.twig' %}
	
{% endblock %}