{% extends "base.html.twig" %}

{% block title %}Grandeur nature{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
        <li class="active">Ajout d'un grandeur nature</li>
    </ol>

    {{ include("_partials/form.twig",{
        'title': 'Ajout d\'un grandeur nature',
        'form' : form}) }}


{% endblock body %}
