{% extends "base.html.twig" %}

{% block title %}Groupes secondaires{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des groupes transverses', 'route': path('groupeSecondaire.list') },
            {'name' : "Détail de #{groupeSecondaire.label}", 'route': path('groupeSecondaire.detail', {'groupeSecondaire':groupeSecondaire.id}) },
            {'name' : "Répondre à un postulant " ~ postulant.personnage.publicName },
        ]
    } %}

    <div class="well well-sm bs-component">
        {{ form_start(form) }}
        <div>
            <div class="header"><h5>Répondre à un postulant</h5></div>

            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <strong>{{ postulant.personnage.publicName }}</strong>
                    </div>
                    <div class="list-group-item-text">
                        {{ postulant.explanation|markdown_to_html }}
                    </div>
                </div>
            </div>

            <br/>
            <p>Le message suivant sera envoyé au postulant</p>

            {{ form(form) }}

        </div>
    </div>
{% endblock body %}
