{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :[{'name' : 'Coût des compétence' }]} %}

    <div class="well well-sm">
        <div class="header">
            <h5>Coût des compétences</h5>
        </div>

        <table class="table table-striped table-bordered table-condensed table-hover">
            {% set th = [{'name': 'Compétence', 'css': 'text-center'}] %}
            {% for classe in classes %}
                {% set th = th|merge([{'name': classe.label, 'style': 'writing-mode: sideways-lr;', 'css': 'text-center align-center align-middle'}]) %}
            {% endfor %}

            {% include '_partials/thead.twig' with  { 'rows': th} %}
            <tbody>
            {% for competenceFamily in competences %}
                <tr>
                    <td class="align-middle col-2 text-end align-middle">{{ competenceFamily.label }}</td>
                    {% for classe in classes %}
                        {% set bgColor = '#EE4411' %}
                        {% set icon %}
                            <i class="fa fa-face-tired"></i>
                        {% endset %}
                        {% if competenceService.isCreation(classe, competenceFamily) %}
                            {% set bgColor = '#0099DD' %}
                            {% set icon %}
                                <i class="fa fa-gift"></i>
                            {% endset %}
                        {% elseif competenceService.isNormale(classe, competenceFamily) %}
                            {% set bgColor = '#EE8800' %}
                            {% set icon %}
                                <i class="fa fa-cirlce"></i>
                            {% endset %}
                        {% elseif competenceService.isFavorite(classe, competenceFamily) %}
                            {% set bgColor = '#66CCDD' %}
                            {% set icon %}
                                <i class="fa fa-star"></i>
                            {% endset %}
                        {% endif %}
                        <td class="align-middle text-center"
                            style="width:1em;height:1em;background-color:{{ bgColor }};">
                            {{ icon }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
