{% extends "base.html.twig" %}

{% block title %}Classes{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("classe.index") }}">Liste des classes</a></li>
		<li class="active">{{ classe.label }}</li>
	</ol>

	{% include 'fragment/competenceFamily' with {'classe': classe} %}
			
{% endblock %}
