{% extends "base.html.twig" %}

{% block title %}Classes{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'name' : 'Liste des classes', 'route': path('classe.list') },
		]
	} %}

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>Liste des classes <small>( {{ paginator|length }} classes )</small></h5>
		</div>

		{% if is_granted('ROLE_REGLE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
			<div class="btn-toolbar" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ajouter une classe"
					   href="{{ path('classe.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
				</div>
			</div>
		{% endif %}
	</div>

	{% include '_partials/pagination.html.twig' %}

	{% include 'classe/fragment/competenceFamilies.twig' with {'classes': paginator} %}

	{% include '_partials/pagination.html.twig' %}

{% endblock %}
