{% for annonce in annonces%}
	<div class="well well-sm">
		<div class="header">
			<h5 class="px-2 d-flex justify-content-between">{{ annonce.title }} <small>publié le {{ annonce.updateDate|date('Y-m-d') }}</small></h5>


		</div>

		<div class="panel-body">
			{{ annonce.text|markdown_to_html }}
			{% if is_granted('ROLE_REDACTEUR', app.user) %}
				<a class="btn btn-primary" href="{{ path('annonce.update', {'annonce': annonce.id}) }}"><i class="fa fa-pencil"></i></a>
			{% endif %}
		</div>
	</div>
{% endfor %}
