{% extends "base.html.twig" %}

{% block title %}Template de design{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Templates de design</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Templates de design</h5>
        </div>


        <div class="container shadow min-vh-50 py-2 panel">
            <div class="row">
                <div class="card mb-3 border-info">
                    <div class="card-header "><i class="fa fa-info-circle text-info"></i> Documentation</div>
                    <div class="card-body">
                        <p class="card-text">
                            Actuellement sur <a href="https://getbootstrap.com/docs/5.3">Bootstrap 5.3</a>

                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <h2>Mode sombre</h2>
                    <p>
                        Permet de tester les modes Dark et Light <br/>
                        <b class="text-bg-warning">TODO:</b> Prévoir de stocker cela en session ou en cookie
                    </p>
                    <p>
                        <button class="btn btn-primary me-2 element">Primary</button>
                        <button class="btn btn-secondary me-2">Secondary</button>
                        <button class="btn btn-danger me-2">Danger</button>
                    </p>
                </div>
                <Div class="col-auto">

                    <button class="btn btn-dark shadow" id="btnSwitch">Toggle Mode</button>
                </Div>
            </div>
            <div>
                <div class="dropdown" data-bs-theme="light">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Default dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
                        <li><a class="dropdown-item active" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="dropdown" data-bs-theme="dark">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Dark dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                        <li><a class="dropdown-item active" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Tooltip on top">
                    Tooltip on top
                </button>

                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Tooltip on bottom">
                    Tooltip on bottom
                </button>

                <a href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Default tooltip">inline links
                    Tooltips</a></div>
        </div>


    </div>


    <h5>Notification</h5>


    <div class="row">
        <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-check"></i> Notif OK</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="well well-sm">
        <h5>Tableau</h5>
        <p>
            <a href=" https://getbootstrap.com/docs/5.3/content/tables/#active-tables"> https://getbootstrap.com/docs/5.3/content/tables</a>
        </p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="well well-sm">
        <h5>Liste</h5>
        <p>
            <a href="https://getbootstrap.com/docs/5.3/components/list-group">https://getbootstrap.com/docs/5.3/components/list-group</a>
        </p>

        <ul class="list-group list-group-item-action">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>


    </div>


    <div class="well well-sm">
        <h5>Carte | Panneau | Encart</h5>
        <div class="card mb-3 border-warning">
            <div class="card-header "><i class="fa fa-warning text-warning"></i> Attention !</div>
            <div class="card-body">
                <p class="card-text">
                    Voici un avertissement
                </p>
            </div>
        </div>

    </div>

{% endblock %}
