{% extends "base.html.twig" %}

{% block title %}Template de design{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Templates de design</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Templates de design</h5>
        </div>


        <div class="container shadow min-vh-50 py-2 panel">
            <div class="row">
                <div class="card mb-3 border-info">
                    <div class="card-header "><i class="fa fa-info-circle text-info"></i> Documentation</div>
                    <div class="card-body">
                        <p class="card-text">
                            Actuellement sur <a href="https://getbootstrap.com/docs/5.3">Bootstrap 5.3</a>

                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <h2>Mode sombre</h2>
                    <p>
                        Permet de tester les modes Dark et Light <br/>
                        <b class="text-bg-warning">TODO:</b> Prévoir de stocker cela en session ou en cookie
                    </p>
                    <p>
                        <button class="btn btn-primary me-2 element">Primary</button>
                        <button class="btn btn-secondary me-2">Secondary</button>
                        <button class="btn btn-danger me-2">Danger</button>
                    </p>
                </div>
                <Div class="col-auto">

                    <button class="btn btn-secondary shadow" id="btnSwitch" data-placement="top"
                            title="Changer mode sombre/claire"><i class="fa fa-toggle-on"></i></button>
                </Div>
            </div>
            <div>
                <div class="dropdown" data-bs-theme="light">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Default dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
                        <li><a class="dropdown-item active" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>

                <div class="dropdown" data-bs-theme="dark">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Dark dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                        <li><a class="dropdown-item active" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Tooltip on top">
                    Tooltip on top
                </button>

                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Tooltip on bottom">
                    Tooltip on bottom
                </button>

                <a href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Default tooltip">inline links
                    Tooltips</a></div>
        </div>


    </div>


    <h5>Notification</h5>


    <div class="row">
        <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-check"></i> Notif OK</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="well well-sm">
        <h5>Tableau</h5>
        <p>
            <a href=" https://getbootstrap.com/docs/5.3/content/tables/#active-tables">
                https://getbootstrap.com/docs/5.3/content/tables</a>
        </p>

        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="well well-sm">
        <h5>Liste</h5>
        <p>
            <a href="https://getbootstrap.com/docs/5.3/components/list-group">https://getbootstrap.com/docs/5.3/components/list-group</a>
        </p>

        <ul class="list-group list-group-item-action">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>


    </div>


    <div class="well well-sm">
        <h5>Carte | Panneau | Encart</h5>
        <p>
            https://getbootstrap.com/docs/5.3/components/card/
        </p>
        <div class="card mb-3 border-warning">
            <div class="card-header "><i class="fa fa-warning text-warning"></i> Attention !</div>
            <div class="card-body">
                <p class="card-text">
                    Voici un avertissement
                </p>
            </div>
        </div>

    </div>

    <div class="well well-sm">
        <h5>Position</h5>
        <p>
            Center https://getbootstrap.com/docs/5.3/utilities/position/#center-elements
        </p>
        <p>
            Flex https://getbootstrap.com/docs/5.3/utilities/flex/
        </p>
        <div class="position-relative">
            <div class="position-absolute top-0 start-0 translate-middle"></div>
            <div class="position-absolute top-0 start-50 translate-middle"></div>
            <div class="position-absolute top-0 start-100 translate-middle"></div>
            <div class="position-absolute top-50 start-0 translate-middle"></div>
            <div class="position-absolute top-50 start-50 translate-middle"></div>
            <div class="position-absolute top-50 start-100 translate-middle"></div>
            <div class="position-absolute top-100 start-0 translate-middle"></div>
            <div class="position-absolute top-100 start-50 translate-middle"></div>
            <div class="position-absolute top-100 start-100 translate-middle"></div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="header">
            <h5>Detail page elements split</h5>
        </div>
        <div class="row">
            <div class="col-md-6">


                <div class="list-group">

                    <div class="list-group-item">
                        <div class="list-group-item-heading fw-bold mb-1 list-group-item-light">Titre</div>
                        <div class="list-group-item-text ps-1">Lorem Ipsum</div>
                    </div>


                    <hr/>
                    <div class="card text-bg mb-3">

                        <div class="card-header"><h6>Titre</h6></div>
                        <div class="card-body">
                            <div class="card-title"><span class="text-danger">
                                <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i> Secret
                            </span> Lorem Ipsum</div>
                        </div>

                        <div class="card-header fw-bold border-top">Description</div>
                        <div class="card-body">
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                imperdiet lacinia enim, sed sollicitudin urna sagittis eu. Integer nisl massa, aliquet
                                dapibus fermentum non, efficitur sit amet justo. Maecenas et ligula sed dolor vulputate
                                convallis.
                            </div>
                        </div>
                    </div>


                    <div class="card text-bg mb-3">
                        <div class="card-header"><h6>Liste</h6></div>

                        <ul class="list-group-flush list-group">

                            <li class="list-group-item ps-1">
                                <a href="">LOREM no text</a>
                            </li>
                            <li class="list-group-item list-group-item-secondary ps-1">
                                <a href="">LOREM secondary ps 1</a>
                            </li>

                            <li class="list-group-item ps-1">
                                <a href="">LOREM</a>
                            </li>

                            <li class="list-group-item">
                                <a href="">LOREM no ps text </a>
                            </li>


                        </ul>


                    </div>

                </div>


                <div class="card mb-2">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>


            </div>

            <div class="col-md-6">


                <div class="list-group">

                    <div class="list-group-item mb-2">
                        <div class="list-group-item-heading fw-bold mb-1 list-group-item-light">Titre</div>
                        <div class="list-group-item-text ps-1">Lorem Ipsum</div>
                    </div>


                    <div class="card text-bg mb-3">
                        <div class="card-header"><h6>Titre</h6></div>
                        <div class="card-body">
                            <div class="card-title">Lorem Ipsum</div>
                        </div>

                        <div class="card-header border-top"><h6>Description</h6></div>
                        <div class="card-body">
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                imperdiet lacinia enim, sed sollicitudin urna sagittis eu. Integer nisl massa, aliquet
                                dapibus fermentum non, efficitur sit amet justo. Maecenas et ligula sed dolor vulputate
                                convallis.
                            </div>
                        </div>

                        <div class="card-footer border-bottom border-top-0">
                            <div class="text-footer-secondary d-flex justify-content-between">
                                <div>
                                    <small>DATE</small>
                                </div>
                                <div>
                                    <small> USER </small>
                                </div>

                                <div>  <small> STATUS </small> </div>
                            </div>
                        </div>
                    </div>


                    <div class="card text-bg mb-3">
                        <div class="card-header"><h6>Liste</h6></div>

                        <ul class="list-group-flush list-group">

                            <li class="list-group-item ps-1">
                                <span>
                                <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>  - LOREM
                            </span> LOREM no text
                            </li>
                            <li class="list-group-item list-group-item-secondary ps-1">
                                LOREM secondary ps 1
                            </li>

                            <li class="list-group-item ps-1">
                                LOREM
                            </li>

                            <li class="list-group-item list-group-item-secondary">
                                LOREM
                            </li>


                        </ul>


                    </div>

                    <div class="card text-bg mb-3">
                        <div class="card-header"><h5>Liste</h5></div>

                        <ul class="list-group-flush list-group">

                            <li class="list-group-item m-0 p-0 g-0">
                                <div class="d-flex justify-content-start">
                                    <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">TITLE</div>
                                    <div class="col-md-10 px-2 py-1">LOREM</div>
                                </div>
                            </li>

                            <li class="list-group-item list-group-item-secondary m-0 p-0 g-0">
                                <div class="d-flex justify-content-start">
                                    <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">TITLE</div>
                                    <div class="col-md-10 px-2 align-middle py-1">LOREM IMPSUM IN DOLOR</div>
                                </div>
                            </li>

                            <li class="list-group-item m-0 p-0 g-0">
                                <div class="d-flex justify-content-start">
                                    <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">TITLE</div>
                                    <div class="col-md-10 px-2">LOREM <br /> SIT AMET</div>
                                </div>
                            </li>

                            <li class="list-group-item m-0 p-0 g-0">
                                <div class="d-flex justify-content-start">
                                    <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">TITLE</div>
                                    <div class="col-md-10 px-2 align-middle py-1">LOREM</div>
                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
                <div class="card mb-2">
                    <div class="header">

                        <h5 class="m-0">LOREM</h5>
                    </div>
                    <table class="table table-condensed table-striped table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-center">
                            <th scope="col" class="col-6">IPSUM</th>
                            <th scope="col">DOLOR</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td><span class="text-danger">
                                <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>  - Secret
                            </span> LOREM</td>
                            <td>IPSUM IN DOLOR </td>
                        </tr>
                        <tr>
                            <td>LOREM</td>
                            <td>IPSUM IN DOLOR </td>
                        </tr>
                        <tr>
                            <td>LOREM</td>
                            <td>IPSUM IN DOLOR </td>
                        </tr>
                        <tr>
                            <td>LOREM</td>
                            <td>IPSUM IN DOLOR </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </div>


{% endblock %}
