{% extends "base.html.twig" %}

{% block title %}Religion{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("religion.index") }}">Liste des religions</a></li>
		<li class="active">Ajout</li>
	</ol>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="well bs-component">
					{{ include("religion/fragment/form.twig",{
					'legend' : 'Ajout d\'une religion',
					'action': path('religion.add'), 
					'form' : form}) }}
				</div>
			</div>
		</div>
	</div>
	
{% endblock body %}
