{% extends "base.html.twig" %}

{% block title %}Religion{% endblock title %}

{% if isAdmin is not defined %}
    {% set isAdmin = false %}
{% endif %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des religions' },
        ]
    } %}

    <div class="well well-sm bs-component">

        <div class="header">
            <h5>Liste des religions</h5>
        </div>

        {% if isAdmin %}
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une religion"
                       href="{{ path('religion.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
                    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Liste mail"
                       href="{{ path('religion.mail') }}"><i class="fa fa-list"></i> Liste</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    {{ include("religion/fragment/list.twig", {'religions' : paginator, 'add' : true}) }}

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
