{% extends "base.html.twig" %}

{% block title %}Religion{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des religions', 'route':  path("religion.index") },
            {'name' : "Liste des adresses mails" },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>Liste des adresses mails</h5>
        </div>

        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <th>Religion</th>
                    <th>Niveau</th>
                    <th>Mails</th>
                </tr>
                </thead>
                <tbody>
                {% for religion in religions %}
                    <tr>
                        <td>{{ religion.label }}</td>
                        <td>{{ religion.level }}</td>
                        <td class="text-wrap">{{ religion.emails }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock body %}
