{% extends "base.html.twig" %}

{% block title %}Ressources{% endblock title %}

{% block body %}

{% include '_partials/breadcrumb.twig' with {'items' : {
	1 : {'route' : path('ressource.index'), 'name' : 'Gestion des ressources'},
	2 : {'name' : 'Ajouter une ressource'}
}} 
%}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("ressource/fragment/form.twig",{
					'legend': 'Ajout d\'une ressource',
					'action': path('ressource.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock body %}