<div class="row">
    <div class="col-md-3">
        <div class="well well-sm">
            {# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont il a la responsabilité #}
            {% if is_granted('ROLE_SCENARISTE', app.user) %}
                {% include 'homepage/fragment/scenariste.twig' with {'user': user} %}
            {% endif %}

            {# gestion administrative #}
            {% include 'homepage/fragment/administration.twig' with {'user': user} %}
        </div>
    </div>
    <div class="col-md-9">
        {# affichage des événements passé et futur #}
        <div class="well well-sm">
            <div class="header">
                <h5>Vos participations aux grandeurs natures</h5>
            </div>

            {% if participants is not defined %}
                {% set noParticipationHtml %}
                    Vous ne participez à aucun jeu. Nous vous proposons de parcourir <a
                        href="{{ path('gn.list') }}">la liste des jeux
                    proposés</a> par Eve-Oniris et d'en sélectionner un.
                {% endset %}
                {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : noParticipationHtml} %}
            {% else %}


                <div class="d-flex justify-content-end mb-2">
                    <a class="btn btn-sm btn-secondary" href="{{ path('gn.list') }}">Voir la liste des grandeurs
                        natures</a>
                </div>

                {% include 'participant/fragment/participations.twig' with {'participants' : participants} %}
            {% endif %}
        </div>

        {# affichage des annonces #}
        {% include 'homepage/fragment/annonces.twig' with {'annonces': annonces} %}

    </div>
</div>
