{% extends "base.html.twig" %}

{% block title %}Ajout objets{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li>Objets</li>
        <li class="active">Ajout d'un objet</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Ajout d'un objet</h5>
        </div>

        {{ include("stock/objet/fragment/form.twig",{'action': path('stockObjet.add'), 'form' : form}) }}
    </div>
{% endblock body %}
