{% extends "base.html.twig" %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('personnageSecondaire.list') }}">Personnages secondaires</a></li>
        <li class="active">Ajout</li>
    </ol>

    <div class="well well-sm">
        <div class="header">
            <h5>Ajouter un personnage secondaire</h5>
        </div>

        {{ include("personnageSecondaire/fragment/form.twig",{
            'legend' : 'Ajout d\'un personnage secondaire',
            'action': path('personnageSecondaire.add'),
            'form' : form}) }}
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {{ include("personnageSecondaire/fragment/addCompetenceJs.twig") }}
{% endblock javascripts %}
