{% extends "base.html.twig" %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Personnages secondaires', 'route':  path('personnageSecondaire.list') },
            {'name' : "Modifier" },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>Modifier un personnage secondaire</h5>
        </div>

        {{ include("personnageSecondaire/fragment/form.twig",{
            'legend': 'Modification d\'un personnage secondaire',
            'action': path('personnageSecondaire.update',{'personnageSecondaire': personnageSecondaire.id}),
            'form' : form}) }}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {{ include("personnageSecondaire/fragment/addCompetenceJs.twig") }}
{% endblock javascripts %}
