{% extends "base.html.twig" %}

{% block title %}Familles de compétence{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active"><a href="{{ path('competenceFamily.index') }}">Liste des familles de compétences</a></li>
    </ol>

    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Liste des familles de compétences</h5>
        </div>

        <div class="well well-sm">
            {{ competenceFamilies|length }} familles
        </div>

        {{ include("competenceFamily/fragment/list.twig", {'competenceFamilies' : competenceFamilies, 'add' : true}) }}
    </div>

{% endblock %}
