{% extends "base.html.twig" %}

{% block title %}Types d'attributs{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des types d\'attributs', 'route': path('attributeType.list') },
            {'name' : attributeType.label, 'route': path('attributeType.list', {'attributeType':attributeType.id})  },
            {'name' : 'Détail' },
        ]
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Détail d'un type d'attribut</h5>
        </div>

        <h4>{{ attributeType.label }}</h4>

        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Modifier"
                   href="{{ path('attributeType.update',{'attributeType':attributeType.id}) }}"><i
                            class="fa fa-pencil"></i> Modifier</a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Supprimer"
                   href="{{ path('attributeType.delete',{'attributeType':attributeType.id}) }}"><i
                            class="fa fa-eraser"></i> Supprimer</a>
            </div>
        </div>
    </div>

{% endblock %}
