{#
Le chef, les membres ayant accès au secret voient les postulants
uniquement les pseudo
#}
    {% if canManage or canReadSecret %}
        <div class="well well-sm">
            <div class="header"><h5>Liste des postulants</h5></div>

            <div class="row">
                {% for postulant in groupeSecondaire.postulants %}
                    {% include 'groupeSecondaire/fragment/postulant.twig' %}
                {% else %}
                    {% include '_partials/noResult.twig' %}
                {% endfor %}
            </div>

        </div>
    {% endif %}
