{% extends "base.html.twig" %}

{% block title %}Debriefing{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('debriefing.list') }}">Liste des debriefings</a></li>
		<li class="active">Ajout d'un debriefing</li>
	</ol>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Ajout d'un debriefing</h5>

			{{ form(form) }}
		</div>
	</div>
	
{% endblock body %}
