<ul class="list-group">
	{%  for tag in tags %}
		<a href="{{ path('stockTag.update',  {tag: tag.id}) }}"
		   class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<h5 class="fw-bold">{{ tag.nom }}</h5>
			</div>
			<span class="badge text-bg-info">{{ tag.objets|length }}</span>
		</a>
	{%  endfor %}
</ul>
