@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

:root {
    --bs-primary: #337ab7;
    --bs-border-radius: 1rem;
}
.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #0bbfd7;
    --bs-btn-hover-border-color: #0ba7d7;
}
body {
    background-color: skyblue;
}
