/* Customize Theme */

[data-bs-theme="dark"] {
  --bs-primary: #{$dark};
  --bs-primary-bg-subtle: #{$primary};
  --bs-primary-bg-subtle-dark: #{$primary};
  --bs-breadcrumb-bg-color: #{$dark-bg-subtle-dark};
  --bs-link-color: #2a9fd6;
  --bs-heading-color: #cccccc;
  --bs-secondary-bg-rgb: 40, 40, 40;

  .breadcrumb {
    background-color: #{$dark-bg-subtle-dark};
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px
  }

  .breadcrumb > li {
    display: inline-block
  }

  .breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ffffff
  }

  .breadcrumb > .active {
    color: #888888
  }

  .btn-primary {
    --bs-btn-bg: #{$primary};
  }

  .panel {
    color: #{$dark-text-emphasis-dark};
    background-color: #{$dark-bg-subtle-dark};
    border-color: #{$dark-border-subtle-dark};
  }

  .panel-conan > .panel-heading, .header > h5, .header > h4, .header-conan {
    background: url("../img/header.png") no-repeat scroll 25% 40% / 110% 110% #8B360C;
    color: #{$dark-text-emphasis-dark};
  }

  .well {
    background-color: #{$dark-bg-subtle-dark};
    border: 1px solid #{$dark-border-subtle-dark};
    box-shadow: inset 0 0 1px #{$dark-text-emphasis-dark};
  }

  .well blockquote {
    border-color: #{$dark-text-emphasis-dark};
  }

  .highlight {
    background-color: #{$yellow-600};
    border: 1px solid #{$yellow-700};
  }

  .ts-dropdown, .ts-control, .ts-control input {
    color: #{$secondary};
  }

  .item-bleu {
    background-color: #{blue-600};
  }

  .item-orange {
    background-color: #{orange};
  }

  ul.detail li .head, ul.detail li > strong {
    background-color: #{$body-emphasis-color};
  }


  .btn-gamemaster, .border-gamemaster, text-gamemaster {
    background-color: #{$indigo};
    color: #{$purple};
  }
}
