@charset "UTF-8";
/* Customize Theme */
[data-bs-theme=dark] {
    --bs-primary: #333;
    --bs-primary-bg-subtle: #337ab7;
    --bs-primary-bg-subtle-dark: #337ab7;
    --bs-breadcrumb-bg-color: #343a40;
    /*
      --bd-violet: #9561fb;
      --bd-violet-bg: #712cf9;
      --bd-toc-color: var(--bs-emphasis-color);
      --bd-sidebar-link-bg: rgba(85, 33, 187, .5);
      --bd-callout-link: 110, 168, 254;
      --bd-callout-code-color: #e685b5;
      --bd-pre-bg: #1b1f22;
    */
    --bs-gamemaster: #9966ee;
    --bs-violet: #6610f2;
    --bs-gamemaster-rgb: rgba(111, 66, 193, 100);
    --bs-gamemaster-text-emphasis: #7744cc;
    /*PURPULE 80% SHADE --bs-gamemaster-bg-subtle: hsl(from #6f42c1 h s calc(l - 5));*/
    --bs-gamemaster-bg-subtle: hsl(from var(--bs-purple) h s calc(l - 43));
    --bs-gamemaster-border-subtle: #5520aa;
    /***/
    --bs-link-color: #2a9fd6;
    --bs-heading-color: #cccccc;
    --bs-secondary-bg-rgb: 40, 40, 40;
}

[data-bs-theme=dark] .table-gamemaster {
    --bs-table-color: #fff;
    --bs-table-bg: var(--bs-gamemaster);
    --bs-table-border-color: var(--bs-gamemaster-text-emphasis);
    --bs-table-striped-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

[data-bs-theme=dark] .btn-gamemaster {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-gamemaster);
    --bs-btn-border-color: var(--bs-gamemaster);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7f5dd1;
    --bs-btn-hover-border-color: #6f47c1;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6f4dc1;
    --bs-btn-active-border-color: #6f47c1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-gamemaster);
    --bs-btn-disabled-border-color: var(--bs-gamemaster);
}

[data-bs-theme=dark] .btn-outline-gamemaster {
    --bs-btn-color: var(--bs-gamemaster);
    --bs-btn-border-color: var(--bs-gamemaster);
    --bs-btn-hover-color: #BB88FF;
    --bs-btn-hover-bg: var(--bs-gamemaster-bg-subtle);
    --bs-btn-hover-border-color: var(--bs-gamemaster);
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #BB88FF;
    --bs-btn-active-bg: var(--bs-gamemaster);
    --bs-btn-active-border-color: var(--bs-gamemaster);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-gamemaster);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-gamemaster);
    --bs-gradient: none;
}

[data-bs-theme=dark] .alert-gamemaster {
    --bs-alert-color: var(--bs-gamemaster-text-emphasis);
    --bs-alert-bg: var(--bs-gamemaster-bg-subtle);
    --bs-alert-border-color: var(--bs-gamemaster-border-subtle);
    --bs-alert-link-color: var(--bs-gamemaster-text-emphasis);
}

[data-bs-theme=dark] .list-group-item-gamemaster {
    --bs-list-group-color: var(--bs-gamemaster-text-emphasis);
    --bs-list-group-bg: var(--bs-gamemaster-bg-subtle);
    --bs-list-group-border-color: var(--bs-gamemaster-border-subtle);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-gamemaster-border-subtle);
    --bs-list-group-action-active-color: var(--bs-emphasis-color);
    --bs-list-group-action-active-bg: var(--bs-gamemaster-border-subtle);
    --bs-list-group-active-color: var(--bs-gamemaster-bg-subtle);
    --bs-list-group-active-bg: var(--bs-gamemaster-text-emphasis);
    --bs-list-group-active-border-color: var(--bs-gamemaster-text-emphasis);
}

[data-bs-theme=dark] .link-gamemaster {
    color: var(--bs-gamemaster) !important;
    -webkit-text-decoration-color: var(--bs-gamemaster) !important;
    text-decoration-color: var(--bs-gamemaster) !important;
}

[data-bs-theme=dark] .link-gamemaster:focus, [data-bs-theme=dark] .link-gamemaster:hover {
    color: var(--bs-gamemaster-text-emphasis) !important;
    -webkit-text-decoration-color: var(--bs-gamemaster-text-emphasis) !important;
    text-decoration-color: var(--bs-gamemaster-text-emphasis) !important;
}

[data-bs-theme=dark] .text-bg-gamemaster {
    color: #fff !important;
    background-color: var(--bs-gamemaster-bg-subtle) !important;
}

[data-bs-theme=dark] .focus-ring-gamemaster {
    --bs-focus-ring-color: rgba(var(--bs-gamemaster-rgb), var(--bs-focus-ring-opacity));
}

[data-bs-theme=dark] .border-gamemaster {
    --bs-border-opacity: 1;
    border-color: var(--bs-gamemaster) !important;
}

[data-bs-theme=dark] .border-gamemaster-subtle {
    border-color: var(--bs-gamemaster-border-subtle) !important;
}

[data-bs-theme=dark] .text-gamemaster {
    --bs-text-opacity: 1;
    color: var(--bs-gamemaster) !important;
}

[data-bs-theme=dark] .text-gamemaster-emphasis {
    color: var(--bs-gamemaster-text-emphasis) !important;
}

[data-bs-theme=dark] .link-underline-gamemaster {
    --bs-link-underline-opacity: 1;
    -webkit-text-decoration-color: rgba(var(--bs-gamemaster-rgb), var(--bs-link-underline-opacity)) !important;
    text-decoration-color: rgba(var(--bs-gamemaster-rgb), var(--bs-link-underline-opacity)) !important;
}

[data-bs-theme=dark] .bg-gamemaster {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gamemaster-rgb), var(--bs-bg-opacity)) !important;
}

[data-bs-theme=dark] .bg-gamemaster-subtle {
    background-color: var(--bs-gamemaster-bg-subtle) !important;
}

[data-bs-theme=dark] .breadcrumb {
    background-color: color-mix(in srgb, var(--bs-breadcrumb-bg-color), #000 50%);
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}

[data-bs-theme=dark] .breadcrumb > li {
    display: inline-block;
}

[data-bs-theme=dark] .breadcrumb > li + li:before {
    content: "/ ";
    padding: 0 5px;
    color: #ffffff;
}

[data-bs-theme=dark] .breadcrumb > .active {
    color: #888888;
}

[data-bs-theme=dark] .btn-primary {
    --bs-btn-bg: #337ab7;
}

[data-bs-theme=dark] .panel {
    color: #dee2e6;
    background-color: color-mix(in srgb, var(--bs-breadcrumb-bg-color), #000);
    border-color: var(--bs-breadcrumb-bg-color);
}

[data-bs-theme=dark] .panel-conan > .panel-heading, [data-bs-theme=dark] .header > h5, [data-bs-theme=dark] .header > h4, [data-bs-theme=dark] .header-conan {
    background: url("../img/header.png") no-repeat scroll 25% 40%/110% 110% #8B360C;
    color: #dee2e6;
}

[data-bs-theme=dark] .well {
    /* background-color: #1a1d20; */
    background-color: color-mix(in srgb, var(--bs-breadcrumb-bg-color), #000);
    border: 1px solid var(--bs-breadcrumb-bg-color);
    box-shadow: inset 0 0 1px #dee2e6;
}

[data-bs-theme=dark] .well blockquote {
    border-color: #dee2e6;
}

.c#ffc107 {
    color: #ffc107;
}

[data-bs-theme=dark] .highlight {
    background-color: hsl(from #ffc107 h s calc(l - 20)); /* 20% darker */
    border: 1px solid hsl(from #ffc107 h s calc(l - 40)); /* 40% darker */
}

[data-bs-theme=dark] .ts-dropdown, [data-bs-theme=dark] .ts-control, [data-bs-theme=dark] .ts-control input {
    color: #6c757d;
}

[data-bs-theme=dark] .item-bleu {
    background-color: #1E88E5;
}

[data-bs-theme=dark] .item-orange {
    background-color: orange;
}

[data-bs-theme=dark] ul.detail li .head, [data-bs-theme=dark] ul.detail li > strong {
    background-color: #333333;
}


/*# sourceMappingURL=dark_theme.css.map */
