/* Customize Theme */

[data-bs-theme="dark"] {
  --bs-primary: #{$dark};
  --bs-primary-bg-subtle: #{$primary};
  --bs-primary-bg-subtle-dark: #{$primary};
  --bs-breadcrumb-bg-color: #{$dark-bg-subtle-dark};
  --bs-link-color: #2a9fd6;
  --bs-heading-color: #cccccc;
  --bs-secondary-bg-rgb: 40, 40, 40;

  /*
  --bd-violet: #9561fb;
  --bd-violet-bg: #712cf9;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(85, 33, 187, .5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22;
*/
  --bs-gamemaster: #9966ee;
  --bs-violet: #6610f2;
  --bs-gamemaster-rgb: rgba(111, 66, 193, 100);

  --bs-gamemaster-text-emphasis: #7744cc;
  --bs-gamemaster-bg-subtle: #{$purple-900};
  --bs-gamemaster-border-subtle: #5520aa;

  .table-gamemaster {
    --bs-table-color: #fff;
    --bs-table-bg: var(--bs-gamemaster);
    --bs-table-border-color: var(--bs-gamemaster-text-emphasis);
    --bs-table-striped-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: var(--bs-gamemaster-border-subtle);
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color)
  }

  .btn-gamemaster {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-gamemaster);
    --bs-btn-border-color: var(--bs-gamemaster);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7f5dd1;
    --bs-btn-hover-border-color: #6f47c1;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6f4dc1;
    --bs-btn-active-border-color: #6f47c1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-gamemaster);
    --bs-btn-disabled-border-color: var(--bs-gamemaster)
  }

  .btn-outline-gamemaster {
    --bs-btn-color: var(--bs-gamemaster);
    --bs-btn-border-color: var(--bs-gamemaster);
    --bs-btn-hover-color: #BB88FF;
    --bs-btn-hover-bg: var(--bs-gamemaster-bg-subtle);
    --bs-btn-hover-border-color: var(--bs-gamemaster);
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #BB88FF;
    --bs-btn-active-bg: var(--bs-gamemaster);
    --bs-btn-active-border-color: var(--bs-gamemaster);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-gamemaster);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-gamemaster);
    --bs-gradient: none
  }

  .alert-gamemaster {
    --bs-alert-color: var(--bs-gamemaster-text-emphasis);
    --bs-alert-bg: var(--bs-gamemaster-bg-subtle);
    --bs-alert-border-color: var(--bs-gamemaster-border-subtle);
    --bs-alert-link-color: var(--bs-gamemaster-text-emphasis)
  }

  .list-group-item-gamemaster {
    --bs-list-group-color: var(--bs-gamemaster-text-emphasis);
    --bs-list-group-bg: var(--bs-gamemaster-bg-subtle);
    --bs-list-group-border-color: var(--bs-gamemaster-border-subtle);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-gamemaster-border-subtle);
    --bs-list-group-action-active-color: var(--bs-emphasis-color);
    --bs-list-group-action-active-bg: var(--bs-gamemaster-border-subtle);
    --bs-list-group-active-color: var(--bs-gamemaster-bg-subtle);
    --bs-list-group-active-bg: var(--bs-gamemaster-text-emphasis);
    --bs-list-group-active-border-color: var(--bs-gamemaster-text-emphasis)
  }

  .link-gamemaster {
    color: var(--bs-gamemaster) !important;
    -webkit-text-decoration-color: var(--bs-gamemaster) !important;
    text-decoration-color: var(--bs-gamemaster) !important;
  }

  .link-gamemaster:focus, .link-gamemaster:hover {
    color: var(--bs-gamemaster-text-emphasis) !important;
    -webkit-text-decoration-color: var(--bs-gamemaster-text-emphasis) !important;
    text-decoration-color: var(--bs-gamemaster-text-emphasis) !important;
  }

  .text-bg-gamemaster {
    color: #fff !important;
    background-color: var(--bs-gamemaster-bg-subtle) !important;
  }

  .focus-ring-gamemaster {
    --bs-focus-ring-color: rgba(var(--bs-gamemaster-rgb), var(--bs-focus-ring-opacity))
  }

  .border-gamemaster {
    --bs-border-opacity: 1;
    border-color: var(--bs-gamemaster) !important
  }

  .border-gamemaster-subtle {
    border-color: var(--bs-gamemaster-border-subtle) !important
  }

  .text-gamemaster {
    --bs-text-opacity: 1;
    color: var(--bs-gamemaster) !important
  }

  .text-gamemaster-emphasis {
    color: var(--bs-gamemaster-text-emphasis) !important
  }

  .link-underline-gamemaster {
    --bs-link-underline-opacity: 1;
    -webkit-text-decoration-color: rgba(var(--bs-gamemaster-rgb), var(--bs-link-underline-opacity)) !important;
    text-decoration-color: rgba(var(--bs-gamemaster-rgb), var(--bs-link-underline-opacity)) !important
  }

  .bg-gamemaster {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-gamemaster-rgb), var(--bs-bg-opacity)) !important
  }

  .bg-gamemaster-subtle {
    background-color: var(--bs-gamemaster-bg-subtle) !important
  }

  /***/

  .breadcrumb {
    background-color: #{$dark-bg-subtle-dark};
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px
  }

  .breadcrumb > li {
    display: inline-block
  }

  .breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ffffff
  }

  .breadcrumb > .active {
    color: #888888
  }

  .btn-primary {
    --bs-btn-bg: #{$primary};
  }

  .panel {
    color: #{$dark-text-emphasis-dark};
    background-color: #{$dark-bg-subtle-dark};
    border-color: #{$dark-border-subtle-dark};
  }

  .panel-conan > .panel-heading, .header > h5, .header > h4, .header-conan {
    background: url("../img/header.png") no-repeat scroll 25% 40% / 110% 110% #8B360C;
    color: #{$dark-text-emphasis-dark};
  }

  .well {
    background-color: #{$dark-bg-subtle-dark};
    border: 1px solid #{$dark-border-subtle-dark};
    box-shadow: inset 0 0 1px #{$dark-text-emphasis-dark};
  }

  .well blockquote {
    border-color: #{$dark-text-emphasis-dark};
  }

  .highlight {
    background-color: #{$yellow-600};
    border: 1px solid #{$yellow-700};
  }

  .ts-dropdown, .ts-control, .ts-control input {
    color: #{$secondary};
  }

  .item-bleu {
    background-color: #{blue-600};
  }

  .item-orange {
    background-color: #{orange};
  }

  ul.detail li .head, ul.detail li > strong {
    background-color: #{$body-emphasis-color};
  }

}
