/* Customize variable */
$primary: #001199;



/* Customize Theme */

[data-bs-theme="light"] {
  --bs-primary: #{$light};
  --bs-primary-bg-subtle: #{$primary};
  --bs-primary-bg-subtle-dark: #{$primary};
  --bs-breadcrumb-bg-color: #{$dark-bg-subtle};

  .breadcrumb {
    background-color: #{$dark-bg-subtle};
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px
  }

  .breadcrumb>li {
    display: inline-block
  }

  .breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ffffff
  }

  .breadcrumb>.active {
    color: #888888
  }

  .btn-primary {
    --bs-btn-bg: #{$primary};
  }

  .panel {
    color: #{$dark-text-emphasis};
    background-color: #{$dark-bg-subtle};
    border-color: #{$dark-border-subtle};
  }

  .panel-conan > .panel-heading, .header > h5 {
    background: url('#') no-repeat scroll 25% 40% / 100% 100% #FFAA80;
    color: #{$dark-text-emphasis};
  }

  .well {
    background-color: #{$dark-bg-subtle};
    border: 1px solid #{$dark-border-subtle};
    box-shadow: inset 0 0 1px #{$dark-text-emphasis};
  }

  .well blockquote {
    border-color: #{$dark-text-emphasis};
  }

  .highlight {
    background-color: #{$yellow-200};
    border: 1px solid #{$yellow-300};
  }
}
