#menu__toggle {
    opacity: 0;
    display: none;
}

@media only screen and (min-width: 601px) {

    .menu__box {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        margin: 0 0 0 130px;
        padding: 0;
        background-color: #000;
        z-index: 10;
        height: 2em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {

    }

}

@media only screen and (max-width: 600px) {

    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
        top: 3em !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        top: -100%;
        left: 0;
        width: 100%;
        margin: 0;
        position: fixed;
        padding: 80px 0;
        list-style: none;
        background-color: #111;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 10;
    }

    .hamburger-menu.menu__btn {
        border-color: #282828;
        left: auto;
        right: 0;
    }

    nav ul {
        flex-direction: column;
    }
}

/* Head */
nav.navbar-main {
    width: 100%;
    top: 0;
    color: #FFF;
    height: 4em;
    margin: 0;
    right: 0;
    left: 0;
}

nav a {
    text-decoration: none;
}

.navbar-header-larp {
    height: 3em;
    width: 100%;
    z-index: 100;
    color: #fff;
    background-color: #000;
    border: 1px solid #777;
    border-radius: 1px;
}

.navbar-larp {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #fff;
    z-index: 10;
}


nav > .menu__box > li {
    list-style: none;
    display: inline-block;
    color: #888;
    /* width: calc(100% / 3);*/
    height: 120px;
    text-align: center;
}

/* end nav */

/******* OLDER ******/
.row {
    overflow: hidden;
}

.fixed-height {
    height: 400px;
    overflow-y: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 1em;
    line-height: 1.42857143;
    color: #888;
    background-size: cover !important;
    background: #333 url("../img/landscape2.jpg") no-repeat fixed;
    border-top: 0 !important;
}

#content {
    margin-bottom: 60px;
}

.svg-content {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container--ph {
    height: 0;
    padding-top: 48%;
    position: relative;
}

.iframe--responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* get rid of the border */
}

.huge {
    font-size: 30px;
    line-height: normal;
}

.link {
    padding: 7px;
    margin-bottom: 10px;
    background: url('../img/header.png') repeat scroll 0% 0% / 100% 100% transparent;
}

.link a {
    color: #292929;
}

.link:hover {
    color: #000;
}

.header {
    /*padding: 2px 10px;
    margin: 2px 0 10px 0;*/
    text-align: center;
    border-radius: 1em;
}

.white-box {
    border: 1px solid #000;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 10px;
}

.jumbotron hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #151515;
    background: rgba(21, 21, 21, 0.5);
    padding: 5px;
}


ul.forum {
    background-color: #f2f2f2;
    color: #000;
}

ul.forum li {
    background-color: #f2f2f2;
    border-color: #aaa;
}


/**
 * Ajoute un asterix rouge si le champ est obligatoire
 */
.form .control-label.required:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: "\f069";
    color: red;
    margin-left: 5px;
}

.form .form-control {
    margin-bottom: 15px;
}

.pastille-orange {
    display: block;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 15px;
}

.invisible {
    /* already exists in bootstrap but just in case we replace the bootstrap css theme someday, redefine it */
    visibility: hidden;
}

.paginator-container, .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item, .flex-item-center {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.flex-item-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.right {
    justify-content: right;
}

.flex-item + .flex-item {
    margin-left: 2%;
}

.legend {
    margin: 10px 0px 10px auto
}

.legend-header-larp {
    font-weight: bold;
}

.form-inline .form-group {
    margin: 5px;
}

.form-inline .control-label {
    margin-right: 5px;
}

.btn-toolbar {
    margin-top: 5px;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin: 5px;
}

.pagination {
    margin: 15px 0px;
}


.personnage-list-column-hasAnomalie,
.personnage-list-column-status,
.personnage-list-column-renomme,
.personnage-list-column-pugilat,
.personnage-list-column-heroisme {
    text-align: center;
}

/** Page content **/
.panel {
    padding: 0.5em;
}

.panel-conan > .panel-heading {
    padding-left: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}

.well {
    min-height: 20px;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 4px;
}

.well blockquote {

}

.well-lg {
    padding: 1em;
    border-radius: 6px
}

.well-sm {
    padding: 0.5em;
    border-radius: 3px
}
/** EndPage content **/
