
#menu {
    margin: 0 0 1em 0;
}


/** Page content **/
.panel {
    padding: 0.5em;
    margin-bottom: 20px;
}

.panel-conan > .panel-heading {
    padding-left: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}

.well {
    min-height: 20px;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 4px;
}

.well-lg {
    padding: 1em;
    border-radius: 6px
}

.well-sm {
    padding: 0.5em;
    border-radius: 3px
}

.item
{
    font-weight: bold;
    width : 200px;
    padding : 5px 5px 5px 5px;
}

/** EndPage content **/

.pull-right {
    float:right !important
}

/** Petit tools **/
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

/******* OLDER ******/
.row {
    overflow: hidden;
}

.fixed-height {
    height: 400px;
    overflow-y: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    line-height: 1.42857143;
    #color: #888;
    background-size: cover !important;
    background: #333 url("../img/landscape2.jpg") no-repeat fixed;
    border-top: 0 !important;
}

#content {
    margin-bottom: 60px;
}

.svg-content {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container--ph {
    height: 0;
    padding-top: 48%;
    position: relative;
}

.iframe--responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* get rid of the border */
}

.huge {
    font-size: 30px;
    line-height: normal;
}

.link {
    padding: 7px;
    margin-bottom: 10px;
    background: url('../img/header.png') repeat scroll 0% 0% / 100% 100% transparent;
}

.link a {
    color: #292929;
}

.link:hover {
    color: #000;
}

.header {
    /*padding: 2px 10px;
    margin: 2px 0 10px 0;*/
    text-align: center;
    border-radius: 1em;
}

.white-box {
    border: 1px solid #000;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 10px;
}

.jumbotron hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #151515;
    background: rgba(21, 21, 21, 0.5);
    padding: 5px;
}


ul.forum {
    background-color: #f2f2f2;
    color: #000;
}

ul.forum li {
    background-color: #f2f2f2;
    border-color: #aaa;
}

ul.detail {

}

ul.detail li {
    display: flex !important;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    padding: 0 !important;
}

ul.detail li>div {
    padding: 4px;
}

ul.detail li .head, ul.detail li>strong {
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 100px;
    text-align: center !important;
    font-weight: 700 !important;
    padding: .25rem !important;
    box-sizing: border-box;
    align-items: center !important;
    border-right: 1px solid;
}

ul.detail li .text {

    padding: 4px;
    display: flex !important;
    align-items: center !important;
}

ul.detail li .first {
    border-top-left-radius: 6px !important;
}

ul.detail li .last {
    border-bottom-left-radius: 6px !important;
}

/**
 * Ajoute un asterix rouge si le champ est obligatoire
 */
.form .control-label.required:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: "\f069";
    color: red;
    margin-left: 5px;
}

.form .form-control {
    margin-bottom: 15px;
}

.pastille-orange {
    display: block;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 15px;
}

.invisible {
    /* already exists in bootstrap but just in case we replace the bootstrap css theme someday, redefine it */
    visibility: hidden;
}

.paginator-container, .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item, .flex-item-center {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.flex-item-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.right {
    justify-content: right;
}

.flex-item + .flex-item {
    margin-left: 2%;
}

.legend {
    margin: 10px 0px 10px auto
}

.legend-header-larp {
    font-weight: bold;
}

.form-inline .form-group {
    margin: 5px;
}

.form-inline .control-label {
    margin-right: 5px;
}

.btn-toolbar {
    margin-top: 5px;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
    margin: 5px;
}

.pagination {
    margin: 15px 0px;
}


.personnage-list-column-hasAnomalie,
.personnage-list-column-status,
.personnage-list-column-renomme,
.personnage-list-column-pugilat,
.personnage-list-column-heroisme {
    text-align: center;
}


/** Start Diplomatie **/
table.diplo {
    border-collapse: collapse;
    background-color: #fff;
}
table.diplo, table.diplo th, table.diplo td {
    border: 1px solid black;
}

table.diplo tr:hover {background-color: #f5f5f5}
table.diplo tr:nth-child(even) {background-color: #f2f2f2}

table.diplo th {
    background-color: #4CAF50;
    color: white;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}
th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(0px, 51px)
                /* 45 is really 360 - 45 */
            rotate(270deg);
    width: 30px;
}
th.rotate > div > span {
    padding: 5px 10px;
}
/** END Diplomatie **/
