{% extends "base.html.twig" %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Liste des appelations'}}} %}

	<div class="well well-sm">
		<div class="header">
			<h5>
				Gestion des appelations
				<small>
					( {{ appelations|length }} appelations )
				</small>
			</h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une appelation" href="{{ path('appelation.add') }}"><i class="fa fa-add"></i> Ajouter</a>
			</div>
		</div>
	</div>

	{{ include("appelation/fragment/list.twig", {'appelations' : appelations, 'add' : true}) }}

	
{% endblock %}