{% extends "base.html.twig" %}

{% block title %}Installation{% endblock %}

{% block body %}
    <div class="well well-sm">
        <div class="header">
            <h1>Installation de LarpManager</h1>
        </div>

        <div class="well well-sm bs-component">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
