{% extends "base.html.twig" %}

{% block title %}Première étape terminée{% endblock %}

{% block body %}
	<div class="well well-sm bs-component">
		<p>Installation de LarpManager, deuxième étape</p>
		<p>L'installation de la table user s'est déroulée avec succès</p>
		<p>Veuillez créer le premier utilisateur, comme ceci est le premier user, il aura les droits d'administration.</p>
	</div>
	
	<div class="well well-sm bs-component">
		{{ form(form) }}
	</div>
	   
	
{% endblock %}
