{% extends "base.print.twig" %}

{% block title %}Impression des jetons{% endblock title %}

{% block content %}
    <h2>Liste des jetons</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Tag</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for token in tokens %}
            <tr>
                <td style="text-align: center">{{ token.id }}</td>
                <td>{{ token.label }}</td>
                <td>{{ token.tag }}</td>
                <td>{{ token.descriptionRaw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
