{% extends "base.html.twig" %}

{% block title %}Ajout de personnage{% endblock title %}

{% block body %}

<div class="well well-sm bs-component">
	{% set prefix = '' %}
	{% if app.user.groupe.nom is defined %}
		{% set prefix = app.user.groupe.nom ~ ' - ' %}
	{% endif %}

		<div class="header">
			<h5>{{ prefix }} Création d'un personnage</h5>
		</div>

	{{ form(form) }}
</div>
{% endblock body %}
