{% extends "base.html.twig" %}

{% block title %}Personnage{% endblock title %}

{% block body %}

	{% include 'personnage/fragment/breadcrumb.twig' with {'name': "Ajout d'un background"} %}

	<div class="well bs-component">	
		{{ form(form) }}
	</div>
	
{% endblock body %}
