{% extends "base.print.twig" %}

{% block title %}Carte Alchimiste/Herboriste - #{{ personnage.id }}{% endblock %}

{% block style %}
<style>
    * { box-sizing: border-box; }
    body { font-family: sans-serif; font-size: 6pt; margin: 20mm; padding: 0; }
    .carte {
        width: 45.7mm;
        height: 25.4mm;
        overflow: hidden;
        padding: 0.8mm 1mm;
        border: 1px solid #333;
    }
    .carte-id {
        font-size: 5.5pt;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }
    .carte-barcode svg {
        display: block;
        width: 100%;
        height: auto;
        max-height: 14mm;
    }
    .carte-ean {
        font-family: monospace;
        font-size: 5pt;
        text-align: center;
        line-height: 1;
    }
    @media print {
        body { margin: 10mm; }
        .carte { border: none; }
    }
</style>
{% endblock %}

{% block content %}
<div class="carte">
    <div class="carte-id">#{{ personnage.identity }}</div>
    <div class="carte-barcode">{{ barcode|raw }}</div>
    <div class="carte-ean">{{ ean }}</div>
</div>
{% endblock %}
