{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Choix d'un nouveau descriptif de religion"} %}

    <div class="well well-sm bs-component">

        <div class="head">
            Choix d'un nouveau descriptif de religion
        </div>

        {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : 'Votre compétence vous permet de choisir une nouvelle description de religion.'} %}

        {{ form(form) }}
    </div>

{% endblock body %}
