{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modifier la liste des documents du personnage"} %}
    <div class="well well-sm">

        <div class="header">
            <h5>Modifier la liste des documents du personnage</h5>
        </div>

        <div class="well well-sm">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
