{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    <div class="container-fluid">

        {% include '_partials/breadcrumb.twig' with {'items' :
            [
                {'name' : personnage.nom, 'route': path('personnage.detail', {'personnage' : personnage.id}) },
                {'name' : "Choix d'un domaine de magie" }
            ]
        } %}

        <div class="well bs-component">
            <div class="header">
                <h5>Choix d'un domaine de magie</h5>
            </div>

            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Votre compétence vous permet de choisir un domaine de magie."} %}

            {{ form(form) }}
        </div>

        {% include 'personnage/fragment/coutSorts.twig' %}

        {% include 'personnage/fragment/domainesCatalogue.twig' %}
    </div>

{% endblock body %}
