{% extends "base.html.twig" %}

{% block title %}Votre personnage{% endblock title %}

{% block body %}

	{% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modifier le personnage"} %}
	
	<div class="well">
		<div class="header">
			<h5>Modifier le personnage</h5>
		</div>

		{{ form(form) }}
	</div>
	
{% endblock body %}
