{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modifier la liste des objets du personnage"} %}

    <div class="well well-sm">
        {{ form(form) }}
    </div>
{% endblock %}
