{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    <div class="container-fluid">

        {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Choix d'une nouvelle langue"} %}

        <div class="well well-sm bs-component">

            <div class="header">
                <h5>Nouvelle langue commune</h5>
            </div>

            <p>Votre compétence vous permet de choisir une nouvelle langue commune.</p>

            {{ form(form) }}
        </div>
    </div>

{% endblock body %}
