{% extends "base.html.twig" %}

{% block title %}Magie{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "La Magie pour #{personnage.publicName}"} %}

    <div class="row">
        <div class="col-sm-12">
            {% include 'personnage/fragment/coutSorts.twig' %}

            {% include 'personnage/fragment/domainesCatalogue.twig' %}
        </div>
    </div> <!-- end row -->

{% endblock body %}
