{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Retrait d'une langue"} %}

    <div class="well bs-component">
    {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Attention, vous vous appretez à retirer la langue <b>#{personnageLangue.langue}</b> du personnage #{personnage.publicName}"} %}

        {{ form(form) }}
    </div>

{% endblock body %}
