{% extends "base.html.twig" %}

{% block title %}Personnage{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modifier la richesse"} %}

    <div class="well well-sm">
        {{ form(form) }}
    </div>
{% endblock %}
