{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}
    <div class="container-fluid">

        {% set isAdmin = is_granted('ROLE_REGLE', app.user) or is_granted('ROLE_ADMIN', app.user) or is_granted('ROLE_SCENARISTE', app.user) %}
        {% set breadcrumb = [] %}
        {% if isAdmin %}
            {% set breadcrumb = breadcrumb|merge([{'name' : 'Liste des personnages', 'route': path('personnage.list') }]) %}
        {% elseif participant is defined %}
            {% set breadcrumb = breadcrumb|merge([{'name' : participant.gn.label, 'route': path('gn.detail', {'gn' : participant.gn.id}) }]) %}
        {% endif %}
        {% set breadcrumb = breadcrumb|merge([{'name' : "Detail de #{personnage.nom}", 'route': path('personnage.detail', {'personnage' : personnage.id})},{'name': 'Statut du personnage'}]) %}

        {% include '_partials/breadcrumb.twig' with {'items' : breadcrumb} %}


        <div class="well bs-component">
            <div class="header">
                <h5>Statut du personnage</h5>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock body %}
