{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}
    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Statut du personnage"} %}

    <div class="well">
        <div class="header">
            <h5>Statut du personnage</h5>
        </div>
        {{ form(form) }}
    </div>
{% endblock body %}
