{% extends "base.html.twig" %}

{% block title %}Personnage{% endblock title %}

{% block body %}

    <div class="well">
        <div class="header">
            <h5>Modification de {{ personnage.publicName }}</h5>
        </div>
        {{ form(form) }}
    </div>

{% endblock body %}
