{% extends "base.html.twig" %}

{% block title %}Personnage{% endblock title %}

{% block body %}

	{% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de la lignée de #{personnage.publicName}", 'tab' : 'biographie'} %}

	<div class="well">


		<div class="header"><h5>Ajouter une lignée ou une généalogie</h5></div>
		{% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Les personnages qui ont atteint l'age mur ou vieux, soit plus de 46 ans, ne peuvent plus procréer "} %}
		{{ form(form) }}
	</div>
	
{% endblock body %}
