{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}


	{% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

	<div class="well bs-component">
		<div class="header"><h5>Modification de "{{ personnage.publicName }}"</h5></div>
		{{ form(form) }}
	</div>
	
{% endblock body %}
