{% extends "base.html.twig" %}

{% block title %}Personnage{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification d'un background"} %}

    <div class="well bs-component">
        <div class="header">
            <h5>Modification d'un background</h5>
        </div>
        {{ form(form) }}
    </div>

{% endblock body %}
