{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{# Groupes secondaires #}
{% if personnage.secondaryGroups|length >0 %}
<div class="{{ css }}">
    <div class="header">
        <h5>Chef de groupe transverse</h5>
    </div>

    <ul class="list-group">
        {% for groupeSecondaire in personnage.secondaryGroups %}
            <li class="list-group-item">
                <a href="{{ path('participant.groupeSecondaire.detail', {'participant': participant.id, 'groupeSecondaire':groupeSecondaire.id}) }}">
                    {% if groupeSecondaire.secret %}
                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                           title="Secret"></i> -
                    {% endif %}
                    {{ groupeSecondaire.label }}</a>
            </li>
        {% else %}
            <li class="list-group-item">
                {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : 'Aucun'} %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
