<div class="row border-top-0">
    <div class="col-md-6">
        {% include 'personnage/fragment/information.twig' with {'css' : 'panel'} %}
    </div>

    <div class="col-md-6">
        {% include 'personnage/fragment/trombinoscope.twig' with {'personnage': personnage, 'participant': participant, 'css': 'panel'} %}
        {% if qrcode is defined %}
            {% include 'personnage/fragment/qrcode.twig' with {'personnage': personnage, 'participant': participant} %}
        {% endif %}
        {% include 'personnage/fragment/admin_resume.twig' with {'css' : 'panel'} %}
    </div>

</div>
