{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}
{# Groupe principal #}
<div class="row">
    <div class="col-md-6">
        {% if participant %}
            <div class="{{ css }}">
                {% include 'personnage/fragment/groupe.twig' with {'participant': participant, 'css': 'panel'} %}
            </div>
        {% endif %}
        {% include 'personnage/fragment/participations.twig' %}

    </div>
    <div class="col-md-6">
        {% include 'personnage/fragment/secondaires.twig' with {'personnage': personnage, 'css': 'panel'} %}

        {#  TODO debug
        {% include 'personnage/fragment/groupeSecondaireChef.twig' with {'personnage': personnage, 'participant': participant} %}
        {% include 'personnage/fragment/groupeSecondaireMembre.twig' with {'personnage': personnage, 'participant': participant} %}
        #}
    </div>
</div>
