{% extends "base.html.twig" %}

{% block title %}Configuration du compte - Etape 2{% endblock title %}

{% block body %}
	<div class="well well-sm">
		<div class="header">
			<h1>Vos informations personnelles</h1>
		</div>
  <hr />
  <div class="row">
  	<div class="col-md-6">
  		<p>Ces informations pourront être transmises aux services de secours présents pendant les événements organisés par l'association Eve-Oniris.</p>
  		<p>En conformité avec les dispositions de la loi du 06/01/1978, ce site fait l'objet d'une déclaration préalable auprès de la Commission Nationale Informatique et Liberté (CNIL). Le numéro de déclaration est le n°1902381v0.</p>
  		<p>Les champs marqués d'un astérix rouge sont obligatoires</p>
  	</div>
  	<div class="col-md-6">
		  {{ form(form) }}
	</div>
  </div>
  


{% endblock body %}
