{% extends "base.html.twig" %}

{% block title %}Nouveau message{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li><a href="{{ path('messagerie') }}">Messagerie</a></li>
		<li class="active">Nouveau message</li>
	</ol>

	<div class="well well-sm">
		{{ include("_partials/form.twig",{
			'title': 'Envoi d\'un message',
			'form' : form}) }}
	</div>

{% endblock %}
