<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>LarpManager - {% block title %}{% endblock title %}</title>

    <style>
        @page {
            size: landscape;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table th, table td {
            border: 1px dotted #777;
            padding:0.5rem;
        }
        thead {display: table-header-group;}
    </style>
</head>
<body>
{% block layout %}

{% endblock %}
</body>
</html>
