{% extends "base.html.twig" %}

{% block title %}Fanatisme{% endblock title %}

{% block body %}

{% include '_partials/breadcrumb.twig' with {'items' : {
	1 : {'route' : path('religion.level'), 'name' : 'Gestion des niveaux de religion'},
	2 : {'name' : religionLevel.label}
}} 
%}

	<div class="well bs-component">
		{{ include("admin/religion/fragment/form.twig",{
			'legend' : 'Modification d\'un niveau de religion',
			'action': path('religion.level.update',{'religionLevel': religionLevel.id}), 
			'form' : form}) }}
	</div>
				
{% endblock body %}