{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des constructions', 'route': path('construction.index') },
            {'name' : 'Ajouter une construction' },
        ]
    } %}

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Ajout d'une construction</h5>
		</div>
		{{ form(form) }}
		
	</div>
				
{% endblock body %}
