{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('construction') }}">Liste des constructions</a></li>
		<li class="active">Ajouter une construction</li>
	</ol>
	
	
	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Ajout d'une construction</h5>

			{{ form(form) }}
		</div>
	</div>
				
{% endblock body %}
