{% extends "base.html.twig" %}

{% block title %}Constructions{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des constructions', 'route': path('construction.index') },
			{'name' : construction.label, 'route': path('construction.detail', {'construction':construction.id})  },
            {'name' : 'Liste des territoires' },
        ]
    } %}

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tbody>
			{% for territoire in construction.territoires %}
			<tr><td><a class="list-group-item" href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">{{ territoire.tree }}</a></td></tr>
			{% else %}
				{% include '_partials/noResultTableRow.twig' %}
			{% endfor %}
	 	</tbody>
	</table>
	
{% endblock body %}
