{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des constructions', 'route': path('construction.index') },
			{'name' : construction.label, 'route': path('construction.detail', {'construction':construction.id})  },
            {'name' : 'Modifier' },
        ]
    } %}

	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('construction.update', {'construction': construction.id}) }}) }}
			<fieldset>
				<legend>Modification d'une construction</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}