<div class="btn-toolbar mb-3" role="toolbar" aria-label="...">
    <a href="{{ path('stockEtat.add') }}" class="btn btn-secondary">
        <i class="fa fa-plus"></i> Ajouter un état
    </a>
</div>

<ul class="list-group">
    {% for etat in etats %}
        <a href="{{ path('stockEtat.update', {index: etat.id}) }}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <h4 class="list-group-item-heading">{{ etat.label }}</h4>
                <!--a class="link-underline-primary link-underline-opacity-0">

                </a-->
            </div>
            <span class="badge text-bg-info">{{ etat.objets|length }}</span>
        </a>
    {% endfor %}
</ul>
