{% extends "base.email.html.twig" %}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Mot de passe oublié
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

    Définir un nouveau mot de passe

    Cliquer sur le lien suivant pour définir un nouveau mot de passe:
    {{ resetUrl }}

    Ce lien est valide jusqu'à XXX

    _______________________________________________________________
    Vous n'avez pas demandé à renouveler votre mot de passe ?

    Si vous n'avez pas fait cette demande. Il semblerait que quelqu'un
    d'autre à du saisir votre adresse ou votre nom d'utilisateur.
    Si c'est le cas, vous n'avez rien besoin de faire de plus et pouvez
    ignorer cet e-mail.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>Définir un nouveau mot de passe</h1>

    Pour définir un nouveau mot de passe cliquer sur le bouton suivant.
    Attention cette action est possible jusqu'au {{ resetExpireAt }}

    {% include 'emails/button.twig' with {'linkHref': resetUrl, 'linkText': 'Définir un nouveau mot de passe'} %}

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>Vous n'avez pas demandé à renouveler votre mot de passe ?</strong>
        <br/>
        Si vous n'avez pas fait cette demande. Il semblerait que quelqu'un
        d'autre à du saisir votre adresse ou votre nom d'utilisateur.
        Si c'est le cas, vous n'avez rien besoin de faire de plus et pouvez
        ignorer cet e-mail.
    </p>

{%- endblock -%}
