{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Réinitialisation du mot de passe
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

    Bonjour,

    Nous vous invitons à redéfinir votre mot de passe.

    Pour se faire merci de cliquer sur le lien suivant :
    {{ resetUrl }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>Réinitialisation du mot de passe</h1>

    <p>
        Bonjour,

        Nous vous invitons à redéfinir votre mot de passe.

        <a href="{{ resetUrl }}">Pour se faire merci de cliquer ici</a>
    </p>

{%- endblock -%}
