{% extends "base.html.twig" %}

{% block title %}Restrictions alimentaires{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('restriction.list') }}">Liste des restrictions alimentaires</a></li>
		<li class="active">Ajout d'une restriction alimentaire</li>
	</ol>
	
	<div class="well well-sm">
		<div class="header">
			<h5>Ajout d'une restriction alimentaire</h5>
		</div>

		{{ form(form) }}

	</div>
	
{% endblock %}
