{% extends "base.html.twig" %}

{% block title %}Qualité{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'route' : path('quality.list'), 'name' : 'Liste des qualités'},
            {'name' : quality.label}
        ]
    } %}

    <div class="well well-sm">
        <h4>{{ quality.label }}</h4>
        <div class="list-group">
            <div class="list-group-item">
                Numéro : {{ quality.numero }}
                <ul>
                    {% for qualityValeur in quality.qualityValeurs %}
                        <li>{{ qualityValeur.nombre }} {{ qualityValeur.monnaie.label }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
