{% extends "base.html.twig" %}

{% block title %}Culture{% endblock title %}

{% block body %}

<div class="well bs-component">
	
	
	<div class="header"><h5>Modifier la culture pour le territoire {{ territoire.nom }}</h5></div>
	
	
	{{ form_start(form, {"attr": {"action": path('territoire.admin.update.culture', {'territoire': territoire.id}) }}) }}			
			
			{{ form(form) }}
	{{ form_end(form) }}
	
</div>

{% endblock body %}