{% extends "base.html.twig" %}

{% block title %}Langues{% endblock title %}

{% block body %}

<div class="well bs-component">


	<div class="header"><h5>Modifier les langues pour le territoire {{ territoire.nom }}</h5></div>


	{{ form_start(form, {"attr": {"action": path('territoire.updateLangues', {'territoire': territoire.id}) }}) }}

			{{ form(form) }}
	{{ form_end(form) }}

</div>

{% endblock body %}
