{% extends "base.print.twig" %}

{% block title %}Liste des pays{% endblock title %}

{% block content %}
    <h2>Liste des pays</h2>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Groupes</th>
            <th>Nombre de noble</th>
        </tr>
        </thead>
        <tbody>
        {% for territoire in territoires %}
            <tr>
                <td>{{ territoire.nom }}</td>
                <td>{{ territoire.groupes|join(', ') }}</td>
                <td>{{ territoire.nbrNoble|length|default(0) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
