{% extends "base.html.twig" %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="well bs-component">
				
					{{ form_start(form, {"attr": {"action": path('territoire.updateStrategie', {'territoire': territoire.id}) }}) }}
						<fieldset>
							<legend>Modification de {{ territoire.nom }}</legend>
							
							{{ form(form) }}
						</fieldset>
					{{ form_end(form) }}
					
					
				</div>
			</div>
		</div>
	</div>
	
{% endblock body %}