{% extends "base.html.twig" %}

{% block body %}

    <div class="well well-sm">
        <div class="header">
            <h5>Modification d'un territoire</h5>
        </div>

        {{ form(form) }}
    </div>

{% endblock body %}
