{% extends "base.html.twig" %}

{% block title %}Sphères{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des sphères', 'route': path('magie.sphere.list') },
        ]
    } %}

    <div class="well well-sm">


        <div class="header">
            <h5>Liste des sphères</h5>
        </div>

        {% include '_partials/formListSearch.twig' with
            {
                'canAdd': {'title': 'Ajouter une sphère', 'path': path('magie.sphere.add')},
                'actionPath' : path('magie.sphere.list')
            } %}
    </div>

    {% include '_partials/pagination.html.twig' %}
    <table class="table table-condensed table-striped table-bordered table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'magie.sphere.list', 'rows': [
            {'name' : 'Libellé', 'field' : 'label', 'css': 'text-center'},
            {'name' : 'Actions', 'css': 'text-center'},
        ]} %}
        <tbody>
        {% for sphere in paginator %}
            <tr>
                <td class="text-center align-middle">{{ sphere.label|highlight(pagerService.searchValue) }}</td>
                <td class="d-flex justify-content-center">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-sm" role="group">
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('magie.sphere.update',{'sphere':sphere.id}) }}"><i
                                        class="fa fa-pencil"></i> Modifier</a>
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Détail" href="{{ path('magie.sphere.detail',{'sphere':sphere.id}) }}"><i
                                        class="fa fa-eye"></i> Detail</a>
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer"
                               href="{{ path('magie.sphere.delete',{'sphere':sphere.id}) }}"><i
                                        class="fa fa-eraser"></i> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            {% include '_partials/noResultTableRow.twig' %}
        {% endfor %}
        </tbody>
    </table>
    {% include '_partials/pagination.html.twig' %}

{% endblock %}
