{% extends "base.html.twig" %}

{% block title %}Informations administratives{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Mes informations administratives</li>
	</ol>
			
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('user.etatCivil') }}) }}
			<fieldset>
				<legend>Enregistrement de votre état-civil</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>

	
{% endblock body %}