{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Modification du mot de passe'}]} %}

    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Modification du mot de passe</h5>
        </div>

        {% include '_partials/cardNotif.twig' with {
            'type' : 'info',
            'content' : "Entrez votre adresse mail, les instructions pour modifier votre mot de passe vous seront envoyés.<br />"
            ~ "Si vous ne recevez pas de mail d\'içi quelques minutes, vérifiez votre dossier spam ou poubelle.
		                L\'expéditeur est <strong>" ~ fromAddress ~ "</strong>."
        } %}

        {{ form(form) }}

        <a href="{{ path('app_login') }}" style="margin-left: 10px;">Retourner à la page de
            connection</a>

    </div>
{% endblock %}
