{% extends "base.html.twig" %}

{% block title %}Mes personnages par défaut{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :[{'name' : "Mes personnages par défaut" }]} %}

    <div class="well well-sm">
        {{ form(form) }}
    </div>

{% endblock body %}
