{% extends "base.html.twig" %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <div class="well well-sm" data-turbo="false">
    <div class="header">
        <h5>Création d'un compte LarpManager</h5>
    </div>

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}. You are already registered and signed in.</p>
        <p><a href="{{ path('app_logout') }}">Sign out</a></p>
    {% else %}



            {% if error %}
                <div class="alert alert-danger">{{ error|nl2br }}</div>
            {% endif %}

            {{ form(form) }}

        </div>
    {% endif %}
{% endblock %}
