{% extends "base.html.twig" %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}. You are already registered and signed in.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>
    {% else %}
        <div class="well well-sm">
            <div class="header">
                <h5>Création d'un compte LarpManager</h5>
            </div>


            {% if error %}
                <div class="alert alert-danger">{{ error|nl2br }}</div>
            {% endif %}

            {{ form(form) }}

        </div>
    {% endif %}
{% endblock %}
