{% extends "base.html.twig" %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Modification du mot de passe'}]} %}

    <div class="well well-sm">

        <div class="header">
            <h5>
                Choisissez un nouveau mot de passe, {{ user.displayName }}
            </h5>
        </div>


        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        {{ form(form) }}

    </div>
{% endblock %}
