{% extends "base.html.twig" %}

{% block title %}Domaine de magie{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('magie.domaine.list') }}">Liste des domaines de magie</a></li>
        <li class="active">Ajouter un domaine de magie</li>
    </ol>


    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Ajout d'un domaine de magie</h5>
        </div>

        {{ form(form) }}
    </div>

{% endblock body %}
